extends ../layouts/default

block content
    .container-fluid
      #email-conf.row.text-center
        .col-xs-12.col-sm-12.col-md-12
          h3 Thanks for getting in touch!
          a(href='/') HOME