
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
  font-family: $BrandonReg;
}

#body {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 15px solid #000000;
}

#header-section {
  padding: 2%;

  img {
    margin: 3%;
    height: 50%;
    width: 50%;
  }

  h3 {
    float: right;
    font-family: $BrandonBld;
  }
}

#body-section {
  margin-top: 3%;

  h4 {
    text-align: center;
    font-family: $BrandonBld;
  }

  .form-control {
    border: 1px solid black;
    border-radius: 1px;
  }

  .submit-btn {
    width: 100%;
    height: 3em;
    font-family: $BrandonBld;
  }

  button {
    background-color: white;
    transition: 0.3s;

    &:hover {
      color: white;
      background-color: black;
    }
  }

  ul {
    list-style-type: none;
    text-align: center;
    margin-top: 2%;

    li {
      margin-top: 1%;
      font-family: $BrandonReg;
    }
  }
}

#map {
  height: 300px;
  width: 100%;
  border: 1px solid black;
}


::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    opacity:  1;
    color:    #f21c1c;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #f21c1c;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #f21c1c;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #f21c1c;
   opacity:  1;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #f21c1c;
  opacity:  1;
}




